html,
body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #1a1a1d;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
}

.joinInnerContainer {
    /* width: 30%; */
    margin: 50px 0;
}

.joinInput {
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
}
.leftInput {
    margin-right: 6px;
}

.rightInput {
    margin-left: 6px;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff7112;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
        flex-direction: column;
    }

    .joinInnerContainer {
        width: 90%;
    }
}

button:focus {
    outline: 0;
}

.form {
    display: flex;
    flex-direction: row;
}

.info {
    flex: 2;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    flex: 1;
    align-items: center;
}
